#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.demo-header {
  height: 50px;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.demo-content {
  padding: 20px 12px;
  flex: 1;
  overflow: auto;
}
